Options -Indexes

<IfModule mod_expires.c>
  ExpiresActive Off
</IfModule>

<IfModule mod_headers.c>
  Header always unset Cache-Control
  Header always unset Expires
  Header always set X-Robots-Tag "noindex, nofollow, noarchive"
  Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header always set Pragma "no-cache"
</IfModule>

<FilesMatch "^(config|config\\.local)\\.php(\\.example)?$">
  <IfModule mod_authz_core.c>
    Require all denied
  </IfModule>
</FilesMatch>
