openapi: 3.0.3
info:
  title: Hong Kong VRM Auction Data API
  version: v1
  description: |
    Public JSON API and static data endpoints for Hong Kong vehicle registration mark auction results.
    Auction data sources are Transport Department published PDF handouts and a bundled legacy TVRM workbook.
    Plate.hk is an independent, non-government index. Verify material results against the original source.
    The exact-match market-signal endpoint may also report a recent, unverified third-party 28car listing signal.
servers:
  - url: https://plate.hk
paths:
  /api/oauth/token:
    post:
      summary: Issue machine bearer tokens for protected OCR access
      description: |
        OAuth 2.0 token endpoint for agent clients.
        Supports the `client_credentials` grant with `client_secret_basic` or `client_secret_post`.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [client_credentials]
                scope:
                  type: string
                  example: "vision:ocr"
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        "200":
          description: Bearer token issued
        "400":
          description: Invalid request, unsupported grant, or invalid scope
        "401":
          description: Invalid client authentication
  /api/v1/index.json:
    get:
      summary: API entrypoint
      responses:
        "200":
          description: OK
  /api/v1/{dataset}/issues.manifest.json:
    get:
      summary: List issues (auction dates) and shard file paths
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
      responses:
        "200":
          description: OK
  /api/v1/{dataset}/auctions.json:
    get:
      summary: Per-issue metadata (PDF URLs, proceeds, errors)
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
      responses:
        "200":
          description: OK
  /api/v1/{dataset}/results.chunks.json:
    get:
      summary: Full-dataset chunk manifest
      description: |
        Lists the bounded JSON-array chunks that make up the complete dataset.
        Fetch the manifest first, then retrieve each relative `chunks[].file` under
        `/api/v1/{dataset}/`. Manifests also expose generated `sort_indexes` used
        by the dynamic results endpoint.
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
      responses:
        "200":
          description: Chunk manifest
          content:
            application/json:
              schema:
                type: object
                required: [schema_version, format, dataset, total_rows, chunks]
                properties:
                  schema_version:
                    type: integer
                    enum: [1]
                  format:
                    type: string
                    enum: [json-array-chunks]
                  dataset:
                    type: string
                  total_rows:
                    type: integer
                  chunk_rows:
                    type: integer
                  chunks:
                    type: array
                    items:
                      $ref: "#/components/schemas/ResultChunk"
                  sort_indexes:
                    type: object
                    additionalProperties:
                      type: object
                      required: [sort, chunks]
                      properties:
                        sort:
                          type: string
                        chunks:
                          type: array
                          items:
                            $ref: "#/components/schemas/ResultChunk"
  /api/v1/{dataset}/results.chunks/{chunk}.json:
    get:
      summary: One full-dataset JSON-array chunk
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
        - in: path
          name: chunk
          required: true
          schema:
            type: string
            pattern: "^[0-9]{4}$"
      responses:
        "200":
          description: JSON array of result rows
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /api/v1/{dataset}/preset.amount_desc.top1000.json:
    get:
      summary: Convenience preset (top 1000 by amount desc)
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
      responses:
        "200":
          description: OK
  /api/v1/{dataset}/issues/{issue_id}.json:
    get:
      summary: Issue shard (all rows for one issue)
      parameters:
        - in: path
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
        - in: path
          name: issue_id
          required: true
          schema:
            type: string
            example: "2026-01-17"
          description: |
            Uses `YYYY-MM-DD` for dataset-specific shards and `{dataset_key}::{YYYY-MM-DD}`
            for the unified `all` dataset, for example `pvrm::2026-03-28`.
      responses:
        "200":
          description: OK
  /api/issues:
    get:
      summary: Dynamic issue catalog with dataset freshness
      parameters:
        - in: query
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
      responses:
        "200":
          description: Issue catalog
          content:
            application/json:
              schema:
                type: object
                required: [dataset, generated_at, total_rows, issue_count, issues]
                properties:
                  dataset:
                    type: string
                  generated_at:
                    type: string
                    format: date
                    nullable: true
                  total_rows:
                    type: integer
                  issue_count:
                    type: integer
                  top_amount_hkd:
                    type: integer
                    nullable: true
                  issues:
                    type: array
                    items:
                      type: object
  /api/results:
    get:
      summary: Page through public auction records without a search query
      parameters:
        - in: query
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
        - in: query
          name: sort
          required: false
          schema:
            type: string
            enum: [amount_desc, amount_asc, date_desc, plate_asc]
            default: date_desc
        - in: query
          name: page
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: page_size
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 200
      responses:
        "200":
          description: Paged public auction records
          content:
            application/json:
              schema:
                type: object
                required: [dataset, sort, page, page_size, total, rows]
                properties:
                  dataset:
                    type: string
                  sort:
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total:
                    type: integer
                  rows:
                    type: array
                    items:
                      type: object
        "400":
          description: Invalid dataset, sort, or paging value
        "429":
          description: Rate limited
        "503":
          description: Required bounded result index is unavailable
  /api/search:
    get:
      summary: Search public auction records by vehicle registration mark
      description: |
        Searches the independent Plate.hk index. This is not an official Hong Kong Government API.
        Verify material results against the original Transport Department source URL returned with the row.
      parameters:
        - in: query
          name: dataset
          required: true
          schema:
            type: string
            enum: [all, pvrm, tvrm_physical, tvrm_eauction, tvrm_legacy]
        - in: query
          name: q
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 16
          example: "88"
        - in: query
          name: issue
          required: false
          schema:
            type: string
          description: Optional dataset-specific issue or auction-date identifier.
        - in: query
          name: sort
          required: false
          schema:
            type: string
            enum: [amount_desc, amount_asc, date_desc, plate_asc]
            default: amount_desc
        - in: query
          name: mode
          required: false
          schema:
            type: string
            enum: [exact_prefix]
        - in: query
          name: page
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - in: query
          name: page_size
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 200
      responses:
        "200":
          description: Matching public auction records and pagination metadata
          content:
            application/json:
              schema:
                type: object
                required: [dataset, q, page, page_size, total, rows]
                properties:
                  dataset:
                    type: string
                  q:
                    type: string
                  issue:
                    type: string
                    nullable: true
                  mode:
                    type: string
                    nullable: true
                  sort:
                    type: string
                  page:
                    type: integer
                  page_size:
                    type: integer
                  total:
                    type: integer
                  rows:
                    type: array
                    items:
                      type: object
        "400":
          description: Invalid dataset, query, filter, sort, or paging value
        "429":
          description: Rate limited
        "503":
          description: Canonical search index is unavailable
  /api/market_signal:
    get:
      summary: Check recent external sale signals for exact plates
      description: |
        Pass `plate` for the original single-plate response, or `plates` for a comma-separated,
        same-origin, page-scoped batch of up to 200 exact plates. The batch response contains
        positive matches only. This remains an exact-match signal API, not a browsable marketplace feed, and a
        positive response is not a guarantee that a listing is current, transferable, or available
        on the stated terms.
      parameters:
        - in: query
          name: plate
          required: false
          schema:
            type: string
            maxLength: 16
          example: "HK8888"
        - in: query
          name: plates
          required: false
          schema:
            type: string
          example: "HK8888,DRHUANG,88"
          description: Comma-separated set of 1 to 200 exact normalized plate candidates.
      responses:
        "200":
          description: Single exact-match state, or a page-scoped collection of positive exact matches
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    required: [plate, availability_detected, inquiry_enabled]
                    properties:
                      plate:
                        type: string
                      availability_detected:
                        type: boolean
                      inquiry_enabled:
                        type: boolean
                      source:
                        type: string
                        enum: [28car]
                      offer_count:
                        type: integer
                      asking_prices_hkd:
                        type: array
                        items:
                          type: integer
                      has_contact_price:
                        type: boolean
                      observed_at:
                        type: string
                        format: date-time
                      fresh_until:
                        type: string
                        format: date-time
                      listing_id:
                        type: string
                      source_url:
                        type: string
                        format: uri
                  - type: object
                    required: [plates_requested, signals]
                    properties:
                      plates_requested:
                        type: integer
                        minimum: 1
                        maximum: 200
                      signals:
                        type: array
                        items:
                          type: object
                          required: [plate, availability_detected, inquiry_enabled]
        "429":
          description: Rate limited
  /api/vision_plate:
    post:
      summary: OCR a cropped Hong Kong plate image
      description: |
        Protected OCR endpoint for Hong Kong vehicle registration marks.
        If Macau or Mainland China plates are visible, the endpoint ignores them
        and returns an empty `plate` with `ignored_plate_type`.
        Browser clients can continue using the same-origin `vision_session` flow, while machine clients can send a bearer token with the `vision:ocr` scope.
      security:
        - BearerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [image_data_url]
              properties:
                image_data_url:
                  type: string
                  format: uri
                lang:
                  type: string
                  enum: [zh, en]
                vision_token:
                  type: string
                  description: Browser-only same-origin session token.
      responses:
        "200":
          description: OCR result
          content:
            application/json:
              schema:
                type: object
                properties:
                  plate:
                    type: string
                    description: Normalized Hong Kong registration mark, or empty when no HK plate was detected.
                  raw_text:
                    type: string
                  confidence:
                    type: number
                    minimum: 0
                    maximum: 1
                  note:
                    type: string
                  model:
                    type: string
                  plate_type:
                    type: string
                    enum: [hong_kong, macau, mainland_china, not_hk, unknown]
                  is_hong_kong_plate:
                    type: boolean
                  ignored_plate_type:
                    type: string
                    enum: [macau, mainland_china, not_hk]
        "403":
          description: Missing or invalid authorization
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ResultChunk:
      type: object
      required: [file, count, start, end]
      properties:
        file:
          type: string
          example: results.chunks/0000.json
        count:
          type: integer
        start:
          type: integer
        end:
          type: integer
